.container__content{

  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-size: 15px;
}

.content__cover > img{
  border:3px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description{
 
  border: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  padding: 0.5rem 0.8rem;
  margin: 1rem;
}

.p {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(245, 244, 196);
  align-items: center;
  text-align: center;
  width: 500px;
  height: 500px;
}
